div {
  text-align: center;
}

img {
  width: 400px;
}

.input {
  padding-top: 1%;
}

#divNav {
  text-align: right;
}

#divGoogle {
  padding-top: 8%;
}

#text {
  border-radius: 25px;
  height: 40px;
  width: 600px;
}

.label {
  text-align: left;
  padding-top: 2%;
}

.divinput1 {
  width: 500px;
}
